<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 数据库类型 SqlServer Sqlite -->
		<add key="DbType" value="Sqlite"/>
		<add key="ConnectionString" value="Database=CFAccess;Server=127.0.0.1;UID=sa;Password=lcn123456;Persist Security Info=true;MultipleActiveResultSets=True;"/>
		<add key="SQLiteConnectionStr" value="Data Source=CFAccess.db3;"/>
		<add key="Port" value="7788"/>
		<add key="UpdateWhitelistTime" value="04:00"/>
    <add key="BaseUrl" value="http://localhost:7789"/>
	</appSettings>
</configuration>