<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="DbType" value="Sqlite" />
  <add key="ConnectionString" value="Database=CFAccess;Server=127.0.0.1;UID=sa;Password=lcn123456;Persist Security Info=true;MultipleActiveResultSets=True;" />
  <add key="Port" value="7788" />
  <add key="UpdateWhitelistTime" value="04:00" />
  <add key="BaseUrl" value="http://localhost:7789" />
  <add key="SQLiteConnectionStr" value="DataSource=D:\工作相关\M100\固件更新\CP214_914-918_V1.12_20241220\CF_Access_V2.2.3\CFAccess.db3;" />
 </appSettings>
</configuration>