<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
	</configSections>
	<modules>
		<module assemblyFile="CF_Access_MainModule.dll" moduleType="CF_Access_MainModule.MainModule,CF_Access_MainModule" moduleName="MainModule" startupLoaded="true" />
		<module assemblyFile="CF_Access_BasicModule.dll" moduleType="CF_Access_BasicModule.BasicModule,CF_Access_BasicModule" moduleName="BasicModule" startupLoaded="true" />
		<module assemblyFile="CF_Access_DeviceModule.dll" moduleType="CF_Access_DeviceModule.DeviceModule,CF_Access_DeviceModule" moduleName="DeviceModule" startupLoaded="true" />
		<module assemblyFile="CF_Access_PersonnelModule.dll" moduleType="CF_Access_PersonnelModule.PersonnelModule,CF_Access_PersonnelModule" moduleName="PersonnelModule" startupLoaded="true" />
		<module assemblyFile="CF_Access_ReportModule.dll" moduleType="CF_Access_ReportModule.ReportModule,CF_Access_ReportModule" moduleName="ReportModule" startupLoaded="true" />
	</modules>
	<appSettings>
  <add key="Version" value="V2.2.3" />
  <add key="Language" value="en-us" />
  <add key="DbType" value="Sqlite" />
  <add key="ConnectionString" value="Database=CFAccess;Server=127.0.0.1;UID=sa;Password=lcn123456;Persist Security Info=true;MultipleActiveResultSets=True;" />
  <add key="SQLiteConnectionStr" value="Data Source=CFAccess.db3;" />
  <add key="BackupPath" value="D:" />
  <add key="AddDialogType" value="Wizard" />
  <add key="ManagementType" value="User" />
  <add key="TriggerType" value="0" />
  <add key="TriggerContent" value="" />
  <add key="UpdateWhitelistTime" value="04:00" />
  <add key="IsShowHomePageOnly" value="false" />
  <add key="IsUpdateServer" value="false" />
  <add key="IP" value="192.168.1.89" />
  <add key="Port" value="7788" />
 </appSettings>
</configuration>