[tool.black]
line-length = 100
target-version = ['py313']
exclude = '''
/(
    \.git
  | \.venv
  | myenv
  | migrations
  | htmlcov
  | \.pytest_cache
)/
'''

[tool.isort]
profile = "black"
line_length = 100
skip = [".venv", "myenv", "migrations", "htmlcov", ".pytest_cache"]

[tool.mypy]
python_version = "3.13"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = false
exclude = ["migrations", ".venv", "myenv", "htmlcov", ".pytest_cache"]

[tool.coverage.run]
source = ["app"]
omit = [
    "*/tests/*",
    "*/__pycache__/*",
    "*/migrations/*",
]

[tool.coverage.report]
precision = 2
show_missing = true
skip_covered = false
