<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<container>
			<!--DataAccess-->
			<register type="CF_Access_IDataAccess.IBaseAccess, CF_Access_IDataAccess" mapTo="CF_Access_DataAccess.BaseAccess, CF_Access_DataAccess"/>
			<register type="CF_Access_IDataAccess.IDBContext, CF_Access_IDataAccess" mapTo="CF_Access_DataAccess.DBContext, CF_Access_DataAccess"/>
			<register type="CF_Access_IDataAccess.ILoginAccess, CF_Access_IDataAccess" mapTo="CF_Access_DataAccess.LoginAccess, CF_Access_DataAccess"/>
			<register type="CF_Access_IDataAccess.IMenuAccess, CF_Access_IDataAccess" mapTo="CF_Access_DataAccess.MenuAccess, CF_Access_DataAccess"/>
			<register type="CF_Access_IDataAccess.IUserAccess, CF_Access_IDataAccess" mapTo="CF_Access_DataAccess.UserAccess, CF_Access_DataAccess"/>
			<register type="CF_Access_IDataAccess.IDeviceAccess, CF_Access_IDataAccess" mapTo="CF_Access_DataAccess.DeviceAccess, CF_Access_DataAccess"/>
			<register type="CF_Access_IDataAccess.IRoleAccess, CF_Access_IDataAccess" mapTo="CF_Access_DataAccess.RoleAccess, CF_Access_DataAccess"/>
			<register type="CF_Access_IDataAccess.IUpgradeAccess, CF_Access_IDataAccess" mapTo="CF_Access_DataAccess.UpgradeAccess, CF_Access_DataAccess"/>
			<register type="CF_Access_IDataAccess.IOperateAccess, CF_Access_IDataAccess" mapTo="CF_Access_DataAccess.OperateAccess, CF_Access_DataAccess"/>
			<register type="CF_Access_IDataAccess.IAccessAccess, CF_Access_IDataAccess" mapTo="CF_Access_DataAccess.AccessAccess, CF_Access_DataAccess"/>
			<register type="CF_Access_IDataAccess.ITemplateAccess, CF_Access_IDataAccess" mapTo="CF_Access_DataAccess.TemplateAccess, CF_Access_DataAccess"/>
			<register type="CF_Access_IDataAccess.IParkingFeeRangeAccess, CF_Access_IDataAccess" mapTo="CF_Access_DataAccess.ParkingFeeRangeAccess, CF_Access_DataAccess"/>
			<register type="CF_Access_IDataAccess.IParkingFeeAccess, CF_Access_IDataAccess" mapTo="CF_Access_DataAccess.ParkingFeeAccess, CF_Access_DataAccess"/>
			<register type="CF_Access_IDataAccess.IInOutBoundAccess, CF_Access_IDataAccess" mapTo="CF_Access_DataAccess.InOutBoundAccess, CF_Access_DataAccess"/>
			<register type="CF_Access_IDataAccess.IVehicleRecognitionAccess, CF_Access_IDataAccess" mapTo="CF_Access_DataAccess.VehicleRecognitionAccess, CF_Access_DataAccess"/>
      <register type="CF_Access_IDataAccess.IMonitorAccess, CF_Access_IDataAccess" mapTo="CF_Access_DataAccess.MonitorAccess, CF_Access_DataAccess"/>
		</container>
	</unity>
</configuration>
